<ion-tabs class="tabs-icon-top tabs-positive">

       <ion-tab title="Home" icon="ion-home" ui-sref="tabs.home">
         <ion-nav-view name="home-tab"></ion-nav-view>
       </ion-tab>

       <ion-tab title="Map" icon="ion-flash" ui-sref="tabs.map">
         <ion-nav-view name="map-tab"></ion-nav-view>
       </ion-tab>

       <ion-tab title="CPR" icon="ion-ios-medkit" ui-sref="tabs.cpr1">
         <ion-nav-view name="cpr-tab"></ion-nav-view>
       </ion-tab>

     </ion-tabs>
